body{
    margin: 0;
}

.navigation-bar{ grid-area: header ;}
.side-bar{grid-area: menu;}
.main-content{grid-area: main;}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'menu main main main main'
    'menu main main main main';
}





.side-bar{
    background-color: green;
    height: 100vh;
}

.side-bar ul {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}

.side-bar li{
    list-style-type: none;
    padding-bottom: 15px;
    padding-right: 5px;

}

.side-bar a{
    text-decoration: none;
    color: white;
}

.navigation-bar{
    background-color: blue;

}

.navigation-bar ul{
    float :right;
    margin-right: 20px;
}

.navigation-bar li{
    display: inline;
    list-style-type: none;
    padding-left: 9px;
}

.navigation-bar a {
    color: white;
    text-decoration: none;

}

.main-content{
    background-color: orange;
}

.content{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1{
    font-family: 'Silkscreen', sans-serif;
    color: green;
    font-size: 20px;
}

.content h2{
    font-family: 'i Itung', sans-serif;
    color: red;
    font-size: 15px;
}

.content p{
    font-family: 'Iglesia', sans-serif;                                           
}

.gojo{
    height: 200px;

}